
$fontFamily: 'Poppins', sans-serif;

$fontWeight: (
    light: 200,
    normal: 400,
    bold: 600
);

$colors: (
    main-background:#33333C,
    text-background:#F5F5F5,
    icon-background:#CFA716,
    accent:#32323B,
)



